<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Vaccine Records</title>
</head>

<body>
    <h1>Covid-19 Vaccine Patients Records</h1>
    <a href="/patients/new">Add a new Patient</a>
    <ul>
        <%for(let i=0; i < patient.length;i++){%>
            <li>
                <a href="/patients/<%=patient[i].id%>">
                    <%=patient[i].name %>
                </a>
                <% if (patient[i].vaccinated===true ){ %>
                    is fully vaccinated
                    <%} else { %>
                        missing 1 dose
                        <% }%>
                            <form action="/patients/<%=patient[i].id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete">
                            </form>
                            <!-- edit link -->
                            <a href="/patients/<%=patient[i].id%>/edit">Edit</a>
            </li>
            <%}%>

    </ul>

</body>

</html>