<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Patient</title>
</head>

<body>
    <h1>Add a New Patient</h1>
    <form action="/patients" method="POST">
        name: <input type="text" name="name" />
        <br>
        date of birth: <input type="date" name="dob" />
        <br>
        type of vaccine: <input type="text" name="vaccine" />
        <br>
        First Dose date: <input type="date" name="firstDose" />
        <br>
        Second Dose Date: <input type="date" name="secondDose" />
        <br>
        Fully Vaccinated: <input type="checkbox" name="vaccinated" />
        <br>
        <input type="submit" name="" value="Add Patient">
    </form>
</body>

</html>