@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


body{
    background-color: beige;
    font-family: 'Barlow', sans-serif ;
    text-align: center;
}

li{
    list-style: none;
    display:inline-block;
    border: 2px solid cadetblue;
    padding: 10px;
}

.login{
    text-align: center;
    margin-top: 100px;
}

.btn-login{
    margin-top: 200px;   
}

#login{
    margin-left: 200px;
}
.container, header{
    text-align: center;
}
 main{
     margin: 70px;
 }

 .btn-small{
    margin: 20px
 }