@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');


body{
    font-family: 'Fira Sans Condensed', sans-serif !important;
    background-color: rgb(230, 230, 230) !important;
}
 
h1{
    text-align: center;
    text-decoration: underline;
}

.login{
    text-align: center;
    margin-top: 100px;
}

#signup, #login{
    margin-top: 200px; 
    background-color: lightgray !important;     
}

#login{
    margin-left: 200px;
}

/* index page */
 main{
     margin: 70px;
 }

 .main{
    background-image: url(https://images.unsplash.com/photo-1584036533827-45bce166ad94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
    background-repeat:no-repeat
 }

 .red{
     color:red
 }
 
 .patient , #edit{
     text-decoration: none !important;
     color: inherit
 }
 .green{
     color:rgb(0, 197, 10)
 }
 
 .add{
     text-decoration: underline !important;
 }

 .show {
 position: absolute;
  left: 30%;
  top: 25%;
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
  
 }

 .new, .edit {
    position: absolute;
    left: 30%;
    top: 25%;
    height: 500px;
    width: 600px;
    background: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 0 20px 8px #d0d0d0;
 }

 th{
     background-color: gray !important;
     color:white;
 }

 li{
     list-style: none;
 }
 
 .welcome{
     position:absolute;
     left: 40%
 }

 .loginpage, .back{
     text-decoration: none !important;
     color: black;
 }

 .loginpage:hover{
     color: white;
 }

 #header{
    font-size:4rem !important;
    font-weight: bolder;
 }

 .navbar, .table{
     border:1px solid gray !important;
 }

